body {
    background: url(../images/mosEisley.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.title {
    margin-bottom: 20px;
}

.wrapper {
    text-align: center;
}
.container {
    float: left;
}

img {
    height: 200px;
    width: 200px;
}

.character {
    background-color: slategray;
    border: 2px solid goldenrod;
    height: 275px;
    width: 250px;
    float: left;
}

h1 {
    color: #ffff00;
    text-align: right;
}

h2 {
    color: #ffff00;
}

.characterTitle {
    clear: left;
}

.enemyTitle {
    clear: left;
}

.fightSection {
   float: right;
   clear: right;
   margin-right: 500px;
}

.defenderTitle {
   float: right;
   clear: right;
   margin-right: 500px;
}


#opponentArena {
    float: right;
    clear: right;
    margin-right: 500px;
}

p {
    color: #ffff00;
    float: right;
    clear: right;
    margin-right: 500px;
}

#playerText,
#opponentText {
    color: slategray;
}